body {
    --btn-primary: #7D7DF7;
    --border: #C0BFBF;
    --link-color: #505F98;
    --btn-primary-dark: #111b47;
    --btn-secondary: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    
}

.navbar a {
  float: left;
  color: var(--link-color);
  text-align: center;
  padding: 10px 13px;
  text-decoration: none;
  font-size: 19px;
  border-radius: 6px;
  transition: .3s;
}

.navbar a:hover {
    background-color: var(--link-color);
    color: white;
    
}

.pic a {
    background-color: white;
}

.pic a:hover {
    background-color: white;
}



.pages {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    align-items: center;
    gap: 24px;
}

.general {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.head {
    margin: 128px 0 0 48px;
    width: calc(100% - 648px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: static;
}

.title > .title {
    font-size: 64px;
    font-family: 'Roboto';
}

.title > img {
    margin: -12px 0;
    height: -100px
}

.description {
    width: 80%;
    text-align: center;
    font-size: 26px;
    font: 'San Francisco', Helvetica, Arial, san-serif;
    width: 760px;
    height: 140px;
    padding: 0.5rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    transition: 1.5s;
    overflow: hidden;
    color: black;
}
.description:hover{
    transform: skewX(0deg);
    transition: 1.5s;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    color: black;
}
.maintext{
    color: black;
    font-family: sans-serif;

}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    padding-top: 5%;
}

.actions > a {
    padding: 8px 0;
    width: 45%;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    text-align: center;
    
}

.signup {
    background-color:var(--btn-primary);
    color: white;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.3s;
}
.signup:hover {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
}
.signin {
    background-color: var(--btn-secondary);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    
}
.signin:hover {
    background-color: var(--btn-primary-dark);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-align: center;
    
}

.splash {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    height: calc(100vh - 128px);
}

.phone {
    z-index: 10;
    position: fixed;
    bottom: 48px;
    right: 124px;
    height: calc(90vh - 128px);
}

.btn {
    text-decoration: none;
    background-color: var(--btn-primary);
    padding: 4px 12px;
    color: white !important;
}

.copy {
    position: fixed;
    bottom: 12px;
    left: 12px;
    color: white;
    padding: 4px 12px;
    background-color: var(--btn-primary-dark);
    border-radius: 10px;
    
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: var(--btn-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: bold;
    
}

.notes_main {
    display: flex;
    height: calc(100vh - 67px);
}

.sidebar {
    height: calc(100% - 48px);
    width: 20%;
    border-right: 1px solid var(--border);
    padding: 24px;
}

.sidebar > .top {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Roboto';
    border-bottom: 1px solid var(--border);
    padding-bottom: 16px;
}

.notes {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(0deg, var(--border) 5%, #ffffff 5%, #ffffff 100%);
    background-size: 28.28px 28.28px;
}

.writing {
    resize: none;
    background: transparent;
    width: 90%;
    margin: 0 0 0 10%;
    height: calc(100% - 2px);
    border: none;
    border-left: 1px solid red;
    outline: none;
    line-height: 28.28px;
    font-size: 20px;
}

.files {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    padding: 12px 0;
}

.files > button {
    width: 80%;
    height: 28px;
    font-size: 20px;
}
  

  .blueCheck{
    height: 45px;
    width: 45px;
    padding-top: 5px;
  }
  
